.figure{
    width: 400px;
    height: 250px;
    border: 1px solid black;
}
.rectangle_1{
    position: relative;
}
.circle_1{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(200, 14, 14);
    position: absolute;
    top: 50px;
    left: 125px;
}
.rectangle_2{
    transform: translate(0px, 0px);
}
.circle_2{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(200, 14, 14);
    transform: translate(125px, 50px);
}